
.head	   {text-align:center;
	   color:#D2042D;
	   text-weight:bold;}

.paragraph {text-align:center;
	   font-family:Verdana;
	   font-size:17px;}

.tr	   {background-color:#D2042D;
	   color:white;}