#head	   {text-align:center;
	   color:#D2042D;}

.paragraph {text-align:center;
	   font-size:17px;
	   font-family:Verdana;}

#first     {color:#D2042D;}

.second    {background-color:#D2042D;
	   color:white;}

#span	   {font-size:20px;}
#spantwo   {font-size:14px;}