#head   {text-align:center;
	color:#D2042D;}

#first  {text-align:center;
	font-family:Verdana;
	font-size:17px;}

.second {text-align:center;
	font-family:Verdana;
	font-size:17px;
	color:#D2042D;}
	